.App {
  text-align: center;
}

.header{
  background-color: black;
  color: white;
  text-align: center;
  font-style: italic;
}

.add{
  background-color: red;
}

.edit{
  background-color: red;
}

.delete{
  background-color: blue;
}